$red : #BA6A4F;
$jaune : #E5E6CF;
$vert : #645D43;
$blanc : #fff;
// STYLE POUR LA PAGE contact.php

// MISE EN PAGE DU MAIN
main {
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
    p, span, h1 {
        color: $red;
    }
    & > div {
        display: flex;
        margin: 40px 0;
        justify-content: space-between;
        align-items: center;
    }
    form legend{
        display: block;
    }

    form > *, form > div div {
        text-align: start;
        display: flex;
        flex-direction: column;
    }
    form #name{
        flex-direction: row;
        justify-content: space-between;
    }
    figure {
        position: relative;
        float: right;
        width: 45%;
    }
}
// MISE EN PAGE DU FORMULAIRE
form {

    input{
        padding: 5px;
        border: solid $vert 2px;
        margin-top: 5px;
    }
    .input, input:focus-visible{
        border-color: $red;
    }
    .input {
        margin : 5px 5px 5px 0;
    }
    button{
        margin-top: 20px;
        color: $vert;
        border-color: $vert;
    }
}

footer #news{
    margin-top: -13px;
    margin-bottom: 29px;
}
// BLOB
.svg{
    width: 122%;
    left: -13%;
    top: -15%;
}



//-----------------RESPONSIVE-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------RESPONSIVE



@media screen and(max-width:880px){
    main {
        figure {
            margin: 63px 0;
            width: 100%;
            float: unset;
        }
    }
    main > div{
        flex-direction: column;
    }
    
}
//telephone
@media screen and(max-width:515px){
    main form #name {
        flex-direction: column;
    }
    form {
        width: 100%;
    }
}